<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css">
    <script type="text/javascript" src="__STATIC__/admin/layui/layui.js"></script>
</head>
<body style="padding: 10px;">
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" name="card" value="{:time()}" maxlength="10">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角&nbsp;&nbsp;&nbsp;&nbsp;色</label>
        <div class="layui-input-inline">
            <select name="gid">
                <option value="0"></option>
                {volist name="groups" id="vo"}
                <option value="{$vo.gid}">{$vo.title}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">充值金额</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" name="money" value="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状&nbsp;&nbsp;&nbsp;&nbsp;态</label>
        <div class="layui-input-inline">
            <input type="checkbox" lay-skin="primary" title="禁用" name="status" value="1">
        </div>
    </div>
</form>
<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn" onclick="save()">保存</button>
    </div>
</div>
<script type="text/javascript">
    layui.use(['layer','form'],function(){
        form=layui.form;
        layer=layui.layer;
        $=layui.jquery;
    });
    //保存管理员
    function save(){
        var card=$.trim($('input[name="card"]').val());
        var carsLength=$.trim($('input[name="card"]').val().length);
        var gid =$('select[name="gid"]').val();
        var money=$.trim($('input[name="money"]').val());
        if(card==""){
            layer.msg("请输入卡号",{icon:2});
            return;
        }
        if(money==""){
            layer.msg("请输入金额",{icon:2});
            return;
        }
        if(carsLength<=6){
            layer.msg("卡号不得少于6位",{icon:2});
            return;
        }
        if(gid==0){
            layer.msg("请选择角色",{icon:2});
            return;
        }
        $.post("{:url('admin_save')}",$('form').serialize(),function(res){
            if(res.code>0){
                layer.alert(res.msg,{icon:2});
            }else{
                layer.msg(res.msg,{icon:1});
                setTimeout(function(){
                    parent.window.location.reload();
                },1000);//一秒后跳转
            }
        },'json');
    }
</script>
</body>
</html>