<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/admin/common/common.css">
    <link rel="stylesheet" href="__STATIC__/admin/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="__STATIC__/admin/layui/layui.js"></script>
</head>
<body style="padding-top: 20px; margin: 0 4px;">
<div class="header">
    <span>会员列表</span>
    <button class="layui-btn layui-btn-sm" onclick="add()">添加</button>
    <div></div>
</div>
<div style="padding-top: 10px;"></div>
<form class="layui-form" method="post" action="{:url('admin_search')}"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <input type="text" name="card" placeholder="会员卡号" autocomplete="off" class="layui-input" value="{$card}">
        </div>
        <div class="layui-input-inline" style="z-index:99;">
            <select name="gid">
                <option value="">请选择会员等级</option>
                {foreach $groups as $value}
                <option value="{$value.gid}" {eq name="$gid" value="$value.gid"}selected{/eq}>{$value.title}</option>
                {/foreach}
            </select>
        </div>
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">搜索</button>
            <a href="{:url('admin_list')}">
                <button type="button" class="layui-btn">
                    <i class="layui-icon layui-icon-refresh"></i>
                </button>
            </a>
        </div>
    </div>
</form>

<table class="layui-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>会员卡号</th>
<!--        <th>真实姓名</th>-->
        <th>会员等级</th>
        <th>余额</th>
        <th>积分</th>
        <th>折扣</th>
        <th>状态</th>
        <th>添加时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="data" id="v" key="k"}
    <tr>
        <td>{$k}</td>
        <td>{$v.card}</td>
        <td>
            {volist name="groups" id="vo"}
            {if $v.gid==$vo.gid}
            {$vo.title}
            {/if}
            {/volist}
        </td>
        <td>{$v.money}</td>
        <td>{$v.points}</td>
        <td>
            {volist name="groups" id="dis"}
            {if $v.gid==$dis.gid}
            {$dis.discount}
            {/if}
            {/volist}
        </td>
        <!-- <td>{eq name="$v.status" value="0"}正常{else/}禁用{/eq}</td> -->
        <td>{$v.status==0?"正常":'<span style="color: red;">禁用</span>'}</td>
        <!-- 加粗 -->
        <!-- <td>{$v.status==0?"正常":'<span style="color: red;font-weight:bold;">禁用</span>'}</td> -->
        <td>{:date('Y-m-d H:i:s',$v.add_time)}</td>
        <td>
            <a href="javascript:;" onclick="edit({$v.id})" class="layui-btn layui-btn-sm">编辑</a>
            <a href="javascript:;" onclick="del({$v.id})" class="layui-btn layui-btn-sm layui-btn-danger del">删除</a>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
<div style="text-align: center">
    {$data|raw}
</div>
<script type="text/javascript">
    layui.use(['layer','form'],function(){
        layer=layui.layer;
        $=layui.jquery;
        form = layui.form;
    });
    //添加管理员
    function edit(id){
        //iframe层
        layer.open({
            type: 2,
            title: '编辑会员',
            shadeClose: false,//点击背景关闭
            shade: 0.8,//阴影
            area: ['480px', '400px'],//宽度、高度
            content: "{:url('admin_edit')}?id=" +id  //iframe的url
        });
    }
    function add(){
        //iframe层
        layer.open({
            type: 2,
            title: '添加会员',
            shadeClose: false,//点击背景关闭
            shade: 0.8,//阴影
            area: ['480px', '400px'],//宽度、高度
            content: "{:url('admin_add')}" //iframe的url
        });
    }
    //删除
    function del(id) {
        layer.confirm('确定要删除该会员吗?', {icon: 3, title: '温馨提示'}, function (index) {
            $.post("{:url('admin_del')}", {'id': id}, function (res) {
                if (res.code > 0) {
                    layer.alert(res.msg, {icon: 2});
                } else {
                    layer.msg(res.msg, {icon: 1});
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                }
            }, 'json');
        });
    }
</script>
</body>
</html>