<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css">
    <script type="text/javascript" src="__STATIC__/admin/layui/layui.js"></script>
</head>
<body style="padding: 10px;">
<form class="layui-form">
    <input type="hidden" name="gid" value="{$role.gid}">
    <div class="layui-form-item">
        <label class="layui-form-label">角色名称</label>
        <div class="layui-input-block">
            <input type="text"  autocomplete="off" class="layui-input" name="title" value="{$role.title}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限菜单</label>
        {volist name="menus_list" id="vo"}
        <hr>
        <div class="layui-input-block">
            <input type="checkbox" name="menu[{$vo.mid}]" lay-skin="primary" title="{$vo.title}" {:isset($role['rights']) && $role['rights'] && in_array($vo.mid,$role['rights'])?'checked':''}>
            <hr>
            {volist name="vo.children" id="cvo"}
            <input type="checkbox" name="menu[{$cvo.mid}]" lay-skin="primary" title="{$cvo.title}" {:isset($role['rights']) && $role['rights'] && in_array($cvo.mid,$role['rights'])?'checked':''}>
            {/volist}
        </div>
        {/volist}
    </div>
</form>
<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn" onclick="save()">保存</button>
    </div>
</div>
</body>
<script style="text/javascript">
    layui.use(['layer','form'],function(){
        layer = layui.layer;
        $ = layui.jquery;
        form = layui.form;
    });
    //保存角色
    function save(){
        var title = $.trim($('input[name="title"]').val());
        if(title == ""){
            layer.msg('角色名称不能为空',{icon:2});
            return;
        }
        $.post("{:url('role_save')}",$('form').serialize(),function(res){
            if(res.code>0){
                layer.msg(res.msg,{icon:2});
            }else{
                layer.msg(res.msg,{icon:1});
                setTimeout(function(){
                    parent.window.location.reload();
                },1000);
            }
        },'json');
    }
</script>
</html>